SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.fly.dev
CSRF_TRUSTED_ORIGINS=https://*.fly.dev
TIME_ZONE=Europe/Lisbon
DATABASE_URL=
REDIS_URL=rediss://default:password@endpoint.upstash.io:6379
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_MONTHLY_PRICE_EUR=7.00
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_STREAM_CUSTOMER_SUBDOMAIN=
CLOUDFLARE_API_TOKEN=
