SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.fly.dev
CSRF_TRUSTED_ORIGINS=https://*.fly.dev
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
TIME_ZONE=Europe/Lisbon
DATABASE_URL=
REDIS_URL=rediss://default:password@endpoint.upstash.io:6379
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_MONTHLY_PRICE_EUR=7.00
STAGEHUB_COMMISSION_PERCENT=20.00
FACEBOOK_PIXEL_ID=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_STREAM_CUSTOMER_SUBDOMAIN=
CLOUDFLARE_API_TOKEN=
